/* Seite vollständig zentrieren */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  border: black 1px solid;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 15px;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: green;
}


.login-button {
  background-color: green;
}

.login-button:hover {
  background-color: green;
}

#startseite {
  text-align: center;
  padding: 50px;
  background-color: greenyellow;
}
